.BasketMenu {
    position: absolute;
    top: 35px;
    left: -300px;
    background-color: rgb(4, 10, 14);
    width: 400px;
    z-index: 2;
    border-radius: 15px;

}

@media screen and (max-width:500px){
    .BasketMenu{
        width: 200px;
        left: -160px;
        text-align: center;
    }
}

.BasketMenu__arrange {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.BasketMenu__total-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}

.BasketMenu__games-list{
    padding: 5px;
}