* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2C2C32;
  --color-active: #0f7dc6;
}

.Games{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;
}

.allButtons{
  display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-bg);
  padding: 3rem 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;
}

@media screen and (max-width: 700px) {
  header{
    text-align: start;
  }
}

a{
  margin-right: 15px;
  font-size: 20px;
}

@media screen and (max-width: 900px)  {
  a{
    margin-right: 10px;
    font-size: 15px;
  }  
}

@media screen and (max-width: 520px)  {
  a{
    margin-right: 5px;
    font-size: 10px;
  }  
}


header > span {
  color: #ffff;
  position: absolute;
  top: 30%;
  left: 3%;
  font-size: 30px;
}

@media screen and (max-width: 900px)  {
  header > span{
    font-size: 25px;
    top: 35%;
    left: 2%;
  }
}

@media screen and (max-width: 700px)  {
  header > span{
    display: none;
  }
}

.basket{
  position: absolute;
  top: 40%;
  right:3%;
  font-size: 20px;
  color: #ffffff;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
  
}
header > a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.container {
  max-width: 1180px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}
main a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  cursor: pointer;
}
