.itemsInBasket{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: tomato;
    border-radius: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
    left: 15px;
    top: -10px;
}

@media screen and (max-width:500px) {
    .itemsInBasket{
        width: 15px;
        height: 15px;
        font-size: 10px;
        left: 20px;
        top: -5px;
    }
}