.items{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px)  {
    .items{
       justify-content: center;
       align-items: center;
    }
}

.game-item{
    text-decoration: none;
    width: 320px;
    height: 300px;
    background-color: rgb(36, 37, 41);
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.game-item{
    margin-bottom: 30px;
    margin-right: 50px;

}

@media screen and (max-width: 1200px)  {
    .game-item{
       margin: 10px 10px;
    }
}

.game-item__title{
    font-size: 18px;
    font-weight: bold;
}

.game-item__genre{
    margin-top: 10px;
}

.game-item__details{
    padding: 10px 20px;

}

.game-item__description{
    margin-top: 10px;
    font-size: 14px;
}

.game-item__buy{
    position: absolute;
    right: 5px;
    bottom: 5px;
}