.BasketBlock{
    display: flex;
    align-items: center;
    position: relative;
}

.BasketBlock__total-price {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

@media screen  and (max-width: 500px) {
    .BasketBlock__total-price{
        font-size: 10px;
    }
}

.BasketBlock__icon{
    cursor: pointer;
    position: relative;
}