.Gamepage__content{
    display: flex;
}

.Gamepage-iframe{
    width: 90%;
    height: 400px;
}

.Gamepage__left{
    width: 70%;
}

.Gamepage__right{
    width: 30%;
}

@media screen and (max-width:900px){
    .Gamepage__content{
        display: block;
        
    }

    .Gamepage__left{
        width:100%;
    }
    .Gamepage-iframe{
        width: 100%;
    }

    .Gamepage__right{
        width: 100%;
    }
}



.Gamepage__buy-game{
    display: flex;
    justify-content: flex-end;
    /* margin-top: 20px;
     */
}